@model IEnumerable<TeacherDto>

<table class="table table-striped table-hover table-sm">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Any())
    {
        foreach (var user in Model)
        {
            <tr>
                <td>
                    <i class="fa fa-user-circle m-2"></i>
                    <a class="link-primary" asp-area="Accounts" asp-page="Profile" asp-route-id="@user.Id">@user.Text</a>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="2">
                <i>No Users</i>
            </td> 
        </tr>
    }
    </tbody>
</table>