@model IEnumerable<UserDto>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Roles</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @if (Model is null || Model?.Count() == 0)
    {
        <tr>
            <td colspan="3">
                <i>No Users</i>
            </td> 
        </tr>
    }
    else
    {
        foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.Username
                </td>
                <td>
                    <strong class="text-capitalize">@String.Join(",", user.Roles)</strong>
                </td>
                <td>
                    <a href="#">View</a> | <a href="#">Set As Admin</a> | <a href="#">Set As Teacher</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>