@page "/courses/create"

@model CreateCourseModel

@{
    ViewData["Title"] = "Create New Course";
}

<div class="container-md mt-lg-5">
    <h2>Create New Course</h2>
    
    <div class="d-flex justify-content-start">
        <form method="post">
            <div class="form-group mt-4">
                <label class="form-label" for="title">Course Title</label>
                <input type="text" asp-for="Title" class="form-control" id="title" placeholder="Ex: Geography">
            </div>
            <div class="form-group mt-4">
                <label class="form-label" for="year">Year</label>
                <input type="text" asp-for="Year" value="@DateTime.Now.Year" class="form-control" id="year">
            </div>
            <div class="form-group mt-lg-4">
                <label class="form-label" for="title">Teacher(s)</label>
                <br>
                <select type="text" asp-for="Teachers" class="form-control course-teacher" multiple="multiple">
                </select>
            </div>
            <div class="form-group mt-5">
                <div class="text-danger" asp-validation-summary="All"></div>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-lg btn-success mt-lg-4">Create</button>
            </div>
        </form>
    </div>
</div>