@page "{courseId}"

@model Details

@{
    ViewData["Title"] = $"{Model.Course.Title} Details";
}

<div class="container p-3">
    @if (TempData["PostResultMessage"] is bool result)
    {
        @await Component.InvokeAsync("Alert", new
        {
            success=result, 
            message=(result ? "Course updated successfully." : "Something went wrong.")
        })
    }
    
    <div class="row mt-5">
        <div class="col">
            <p class="h3 mb-4">
                <i class="fa fa-book m-2"></i>
                Course Details
            </p>
            <form method="post">
                <div class="row">
                    <div class="col-6 form-group mt-4">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" id="title" name="title" asp-for="Course.Title">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group mt-4">
                        <label class="form-label" for="year">Year</label>
                        <input class="form-control" type="number" id="year" name="year" asp-for="Course.Year">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group mt-2">
                            <div class="text-danger" asp-validation-summary="All"></div>
                        </div>
                        <div class="mt-5">
                            <button type="submit" class="btn btn-success">Save Changes</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row mt-4">
                <div class="col-6 form-group mt-4">
                    <label class="form-label" for="creationDate">Creation Date</label>
                    <input class="form-control" id="creationDate" value="@Model.Course.CreatedAt.ToString("g")"
                           readonly="readonly">
                </div>
            </div>
        </div>
        <div class="col">
            <p class="h3 mb-4">
                 <i class="fa fa-tools m-2"></i>
                Actions
            </p>
            <div class="row">
                <div class="col">
                    <div class="btn-group-vertical">
                        <form asp-page-handler="ArchiveCourse">
                            <input type="submit" class="btn btn-lg btn-outline-danger" value="Archive The Course" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6">
            <p class="h3">
                <i class="fa fa-user m-2"></i>
                Teachers
            </p>
            <form method="post" asp-page-handler="AddTeacher">
                <div class="row">
                    <div class="col-6">
                        <select type="text" name="teachers" class="form-control course-teacher" multiple="multiple">
                        </select>
                    </div>
                    <button type="submit" class="col-sm-auto btn btn-outline-success">Add Teacher</button>
                </div>
            </form>
            @await Component.InvokeAsync("CourseTeachersList", new { courseId = Model.Course.Id })
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6">
            <p class="h3">
                <i class="fa fa-user-graduate m-2"></i>
                Students
            </p>
            @await Component.InvokeAsync("CourseStudentsList", new { courseId = Model.Course.Id })
        </div>
    </div>
</div>