@page
@model Index

@{
    ViewData["Title"] = "Courses";
    
    // was a redirect from success course create action?
    var RedirectFromSuccessCreate = HttpContext.Session.GetInt32("redirect_from_success_create");
}

<div class="container-md mt-lg-5">
    @if (RedirectFromSuccessCreate.GetValueOrDefault() == 1)
    {
        HttpContext.Session.Remove("redirect_from_success_create");
        
        @await Component.InvokeAsync("Alert", new
        {
            success=true, 
            message="Course created successfully."
        })
    }
    <partial name="Shared/_CoursesListPartial" for="Courses"/>
</div>
