@page "/users"

@model Index

@{
    ViewData["Title"] = "Users";
}

<div class="container-md mt-lg-5">
    <partial name="Shared/_UsersListPartial" for="Users" view-data="new ViewDataDictionary(ViewData)" />
</div>