@page
@model ProfileModel

@{
    ViewData["Title"] = $"${Model.Profile.username}'s Profile";
}

<div class="container mt-lg-5">
    <div class="row">
        <div class="col-6">
            <dl>
                <dt>Email</dt>
                <dd>@Model.Profile.email</dd>
                <dt>User Name</dt>
                <dd>@Model.Profile.username</dd>
                <dt>Account Role</dt>
                <dd class="text-capitalize">@Model.Profile.role.First()</dd>
            </dl>
        </div>
    </div>
</div>