@page "{id}"

@model ProfileModel

@{
    ViewData["Title"] = $"{Model.Profile!.Email}'s Profile";
}

<div class="container mt-lg-5">
    @if (TempData["PostResultMessage"] is bool result)
    {
        @await Component.InvokeAsync("Alert", new
        {
            success=result, 
            message=(result ? "User updated successfully." : "Something went wrong.")
        })
    }
    <div class="row">
        <div class="col-6 mt-lg-3">
            <div class="row-cols-3">
                <p class="h4"><i class="fa fa-fw fa-user m-1"></i>Basic Info</p>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" value="@Model.Profile.Email" readonly>
                </div>
                <div class="mb-3">
                    <label for="fullname" class="form-label">Full Name</label>
                    <input type="email" class="form-control" id="fullname" value="@Model.Profile.FullName" readonly>
                </div>
            </div>
            @if (RouteData.Values["id"] is null)
            {
                <div class="row-cols-3">
                    <p class="h4"><i class="fa fa-fw fa-tools m-1"></i>Actions</p>
                    <div class="mt-lg-4">
                        <a href="#" class="btn btn-lg btn-primary">Change E-mail</a>
                        <a href="#" class="btn btn-lg btn-secondary">Change Password</a>
                    </div>
                </div>
            }
        </div>
        <div class="col-6">
            <div class="row mt-lg-3">
                <p class="h4">Account Roles & Permissions</p>
                @await Component.InvokeAsync("PermissionsList", new { claims = Model.Profile.Claims })
            </div>

            <div class="row mt-lg-5">
                <p class="h5"><i class="fa fa-fw fa-key m-1"></i>Roles</p>
                @await Component.InvokeAsync("RolesList", new { roles = Model.Profile.Roles, userId = RouteData.Values["id"] })
            </div>
        </div>
    </div>
</div>