@page "{id}"

@using DigitalQueue.Web.Pages.Shared.Components.Alert
@model ProfileModel

@{
    ViewData["Title"] = $"{Model.Profile!.Username}'s Profile";

    ViewData["id"] = RouteData.Values["id"];
    // A flag to determine of user view his own profile or another user's profile.
    ViewData["isOwner"] = User.FindFirstValue(ClaimTypes.NameIdentifier) == RouteData.Values["id"]?.ToString();
    
    // Post result temp data
    bool? showAlert = TempData["PostResultMessage"] as bool?;
}

<div class="container mt-lg-5">
    @if (showAlert.HasValue)
    {
        @await Component.InvokeAsync("Alert", new
        {
            success=showAlert.Value, 
            message=(showAlert.Value ? "User updated successfully." : "Something went wrong.")
        })
    }
    <div class="row">
        <div class="col-6">
            <p class="h4"><i class="fa fa-fw fa-user m-1"></i>Basic Info</p>
            <div class="row-cols-3 mt-lg-4 mb-5">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" value="@Model.Profile.Email" readonly>
                </div>
                <div class="mb-3">
                    <label for="fullname" class="form-label">Full Name</label>
                    <input type="email" class="form-control" id="fullname" value="@Model.Profile.FullName" readonly>
                </div>
            </div>
            @if (Convert.ToBoolean(ViewData["isOwner"]))
            {
                <p class="h4"><i class="fa fa-fw fa-tools m-1"></i>Actions</p>
                <div class="mt-lg-4">
                    <a href="#" class="btn btn-lg btn-primary">Change E-mail</a>
                    <a href="#" class="btn btn-lg btn-secondary">Change Password</a>
                </div>
            }
        </div>
        <div class="col-6">
            <p class="h4">Account Roles & Permissions</p>

            <div class="row mt-lg-3">
                <div class="col">
                    <p class="h5"><i class="fa fa-fw fa-keyboard m-1"></i>Permissions</p>
                    @if (!Model.Profile.Claims.Any())
                    {
                        <i class="text-muted">No permissions assigned.</i>
                    }
                    else
                    {
                        @foreach (var claim in Model.Profile.Claims)
                        {
                        <div class="mt-3">
                            <strong>@claim.Claim</strong>
                            <ul class="list-group">
                            @foreach (var value in claim.Values)
                            {
                                <li class="list-group-item">@value</li>
                            }
                            </ul>
                        </div>
                        }
                    }
                </div>
            </div>

            <div class="row mt-lg-5">
                <div class="col">
                    <p class="h5"><i class="fa fa-fw fa-key m-1"></i>Roles</p>
                    <partial name="_RolesListPartial" model="Model.Profile.Roles" view-data="new ViewDataDictionary(ViewData)"/>
                </div>
            </div>
        </div>
    </div>
</div>