@page
@model ResetPassword

@{
    ViewData["Title"] = "Change Password";
}

<div class="container-md mt-lg-5">
    <div class="d-flex justify-content-center">
        <form method="post">
            <div class="form-group mt-2">
                <label class="form-label" for="currentPassword">Current Password</label>
                <input type="password" asp-for="CurrentPassword" class="form-control" id="currentPassword">
            </div>
            <div class="form-group  mt-2">
                <label class="form-label" for="newPassword">New Password</label>
                <input type="password" asp-for="NewPassword" class="form-control" id="newPassword" >
            </div>
            <div class="form-group  mt-2">
                <label class="form-label" for="confirmNewPassword">New Password</label>
                <input type="password" asp-for="ConfirmNewPassword" class="form-control" id="confirmNewPassword" >
            </div>
            <div class="form-group mt-2">
                <div class="text-danger" asp-validation-summary="All"></div>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-lg btn-success mt-lg-4">Update Password</button>
            </div>
        </form>
    </div>
</div>