@page
@model ResetPassword

@{
    ViewData["Title"] = "Change Password";
}

<div class="container-md mt-lg-5">
    <div class="d-flex justify-content-center mb-5">
        <h2 class="text-capitalize text-lg-center">Password Reset</h2>
    </div>
    <div class="d-flex justify-content-center">
        <div>
            <form method="post">
                <label class="form-label" for="code">Code</label>
                <div class="input-group">
                    <input type="text" asp-for="Code" class="form-control" id="code">
                    <a class="send-code btn btn-outline-dark" href="#">Send Code</a>
                </div>
                <div class="form-group  mt-2">
                    <label class="form-label" for="newPassword">New Password</label>
                    <input type="password" asp-for="NewPassword" class="form-control" id="newPassword">
                </div>
                <div class="form-group  mt-2">
                    <label class="form-label" for="confirmNewPassword">Confirm New Password</label>
                    <input type="password" asp-for="ConfirmNewPassword" class="form-control" id="confirmNewPassword">
                </div>
                <div class="form-group mt-5">
                    <div class="text-danger" asp-validation-summary="All"></div>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-lg btn-success mt-lg-4">Update Password</button>
                </div>
            </form>
        </div>
    </div>
</div>