@model dynamic

<div class="row g-1">
    <div class="col">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Roles</th>
                </tr>
            </thead>
            <tbody>
            @if (Model.Courses.Any())
            {
                @foreach (var course in Model.Courses)
                {
                    <tr>
                        <td>
                            <i class="fa fa-book m-2"></i>
                            <a class="link-dark" asp-area="Courses" asp-page="Details" asp-route-courseId="@course.CourseId">@course.CourseTitle</a>
                        </td>
                        <td>
                            @foreach (var role in course.Roles)
                            {
                                <span class="badge bg-dark">@role</span>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2">
                        <i class="text-muted">No Courses Assigned</i>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>