<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Digital Queue Administrator Dashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" asp-area="Dashboard" asp-page="Index">
                    <img src="~/favicon.png" alt="Digital Queue Logo" height="32" width="32" class="d-inline-block align-top" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav flex-grow-1 justify-content-start nav-pills">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Courses" asp-page="Index">
                                    <i class="fa fa-list m-1"></i>Courses
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Courses" asp-page="CreateCourse">
                                    <i class="fa fa-plus-circle m-1"></i>Create New Course
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Accounts" asp-page="Index">
                                    <i class="fa fa-users m-1"></i>Users
                                </a>
                            </li>
                        </ul>
                    }
                    <ul class="navbar-nav flex-grow-1 justify-content-end nav-pills">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Dashboard" asp-page="Index">
                                    <i class="fa fa-dashboard m-1"></i>Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Accounts" asp-page="Profile"
                                   asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
                                    <i class="fa fa-user m-1"></i>Account
                                </a>
                            </li>
                            <li class="nav-item">
                                <form asp-area="Accounts" asp-page="Login" asp-page-handler="SignOut">
                                    <button type="submit" class="nav-link text-white">
                                        <i class="fa fa-sign-out-alt m-1"></i>Sign Out
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Accounts" asp-page="Login">
                                    <i class="fa fa-sign-in-alt m-1"></i>Sign In
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top fixed-bottom footer">
        <div class="container">
            <p>
                <small>
                Developed By Redhouane Sobaihi &copy; @DateTime.Now.Year &#8212 Digital Queue - <a asp-area="" asp-page="/Privacy">Privacy</a>
                </small>
            </p>
        </div>
    </footer>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>